html {
    font-size: 16px;
    color: rgb(3, 3, 3);
}

body {
    background: radial-gradient(#ffffff, #92fafa);
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    font-size: 1.5em;
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.nav-element {
    padding: 5px;
    text-decoration: none;
}

.content {
    margin: 10% 20% 10% 20%;
    font-size: 1.25em;
    
}

.icon {
    width: 100px;
    margin: 50px 35px 50px 35px;
}

.icon-link {
    height: 50px;
    width: 50px;
    padding: 10px;
}

a {
    color: black;
}
a:visited {
    color:unset;
}

a:hover {
    text-decoration: underline;
}

.link-project {
    margin: auto;
}
